body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
p{
    font-size: 20px;
}
.s-color{
    color: orangered;
}
section{
    display: flex;
}
.half-W{
    width: 50%;
    padding-left: 5%;
}
.half-W img{
    width: 70%;
}
.padd{
    padding-left: 10%;
}
.pad{
    padding-top: 5%;
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    background-image: linear-gradient(tomato orangered);
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 800;
} 
.Back-pic{
    background-image: url(back-pic.png);
}
.text-pos{
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
}
.my-reci{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.534);
}
.img-size{
    padding-left: 7.5%;
    margin-top: 7.5%;
    border-radius: 15%;
}
.width{
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    padding-bottom: 5%;
}
.margin-text{
    margin: 0% 10%;
}
.widt{
    width: 30%;
    padding-left: 10%;
}
.social{
    border-radius: 20px;
    margin: 120px 40px ;
    box-shadow: 10px 10px 10px gray;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.back-c{
    background-color: black;
    padding: 2%;
}
.t-color{
    color: white;
}